*{
 box-sizing: border-box;   
}

.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    border: #fff 1px solid;
    color: #fff;
    width: 20%;
    height: 100%;
}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    border: #fff 1px solid;
    color: #fff;
    width: 20%;
    height: 80%;
}


.oculto{
    display: none;
}

.contanier-form-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

label{
    padding-top: 4px;
}
button{
    margin-top: 15px;
    margin-bottom: 5px;
}

body{
    background-color: #111;
}

/* TABLA DE USUARIOS */
#div-container-table{
    display: flex;
    justify-content: center;
}
table{
    background-color: #222;
    border: #fff 1px solid;
    color: #fff;
    border-collapse: collapse;
}
td,th{
    border: 1px solid #fff;
}

td{
    text-align: center;
} 
tr:hover{
    background-color: #555;
}
th{
    background-color: #555;
}